modules = ["nodejs-20", "web"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 20346258
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx serve -s . -l 5000"
